configuration/reference/streetreffiles/Listing_Configuration.dtd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSPY v5 rel. 4 U (http://www.xmlspy.com) by Rashmi (Financial Technologies International) -->
<!--DTD generated by XMLSPY v5 rel. 4 U (http://www.xmlspy.com)-->
<!ELEMENT group_1 (option)>
<!ELEMENT option (vendorSource)*>
<!ATTLIST option
	id ID #REQUIRED	
>
<!ELEMENT source EMPTY>
<!ATTLIST source
	vendor CDATA #REQUIRED
	rank CDATA #IMPLIED
	weight CDATA #IMPLIED
>
<!ELEMENT vendorSource (source*)>
<!ATTLIST vendorSource
	expiration_timespan CDATA #IMPLIED
>
<!ATTLIST group_1
	description CDATA #REQUIRED
	processrank CDATA #REQUIRED
>
<!ELEMENT group_2 EMPTY>
<!ATTLIST group_2
	description CDATA #REQUIRED
	processrank CDATA #REQUIRED
>
<!ELEMENT group_3 EMPTY>
<!ATTLIST group_3
	description CDATA #REQUIRED
	processrank CDATA #REQUIRED
>
<!ELEMENT group_4 EMPTY>
<!ATTLIST group_4
	description CDATA #REQUIRED
	processrank CDATA #REQUIRED
>
<!ELEMENT occurrence (group_1, group_2, group_3, group_4)>
<!ATTLIST occurrence
	table CDATA #REQUIRED
>
